<aside class="sidebar-docs clearfix" id="sidebar-docs">
  <div class="nav-doc-header clearfix">
    <div class="nav-doc-app nav-doc-dropdown">
      <span class="selected-nav">OMS <i class="fa fa-sort-asc"></i></span>
      <ul>
        <li>
          <a href="/">OMS</a>
        </li>
        <li>
          <a href="/">Logistics</a>
        </li>
        <li>
          <a href="/">RNB</a>
        </li>
        <li>
          <a href="/">License Manager</a>
        </li>
        <li>
          <a href="/">Channel</a>
        </li>
        <li>
          <a href="/">Portal</a>
        </li>
      </ul>
    </div>
    <div class="nav-doc-category nav-doc-dropdown">
      <span class="selected-nav">Guia <i class="fa fa-sort-asc"></i></span>
      <ul>
        <li>
          <a href="/">Guia</a>
        </li>
        <li>
          <a href="/">API</a>
        </li>
        <li>
          <a href="/">Design</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav-doc-body col-md-10 col-md-offset-1">
    <ul>
      <li><a href="">Visão geral</a></li>
      <li><a href="">Warehouse item</a></li>
      <li><a href="">Warehouse</a></li>
      <li><a href="">Shipping</a></li>
      <li><a href="">Delivery point</a></li>
      <li>
        <a href="">Reservation</a>
        <ul>
          <li><a href="">Salva uma reserva</a></li>
          <li><a href="">Consulta uma reserva</a></li>
          <li><a href="">Consulta as reservas por SKU e estoque</a></li>
          <li><a href="">Confirma uma reserva</a></li>
          <li><a href="">Cancela uma reserva</a></li>
          <li><a href="">Realiza o Acknowledge de uma reserva</a></li>
        </ul>
      </li>
      <li><a href="">Dock</a></li>
      <li><a href="">Carrier</a></li>
    </ul>
  </div>
</aside>