html {
  height: 100%;
  position: relative;
}
.container {
  position: relative;
}
.post-page, .post-page .main-content, .post-page #post-wrapper {
  height: 100%;
  position: relative;
}
body {
  background: #fff;
  font-family: 'proxima-nova', Arial, Helvetica;
}

/* HEADER */
.post-page .header {
  z-index: 9;
  position: fixed;
  top: 0;
}
.header {
  border-bottom: 1px solid #2CB6D6;
  background: #fff;
  width: 100%;
  transition: top 0.1s ease-out;
}
.post-page .hide-header {
  top: -66px;
  transition: top 0.1s ease-out;
}
.header-button {
  width: 54px;
  cursor: pointer;
  height: 54px;
  border-radius: 50px;
  border: 2px solid rgba(44, 182, 214, .2);
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9;
  opacity: 0;
  background: #fff url(/images/main-sprite.png) -164px 10px;
  transition: opacity 0.1s ease-out;
}
.header-button:hover {
  opacity: 1;
  transition: opacity 0.1s ease-out;
}
.header-button-active {
  opacity: .7;
  transition: opacity 0.4s ease-out;
}
.header h1 {
  margin: 0;
  padding: 0;
}

.logo {
  width: 150px;
  height: 35px;
  margin: 15px 0;
  overflow: hidden;
  text-indent: -999px;
  display: block;
  float: left;
  background: url(/images/main-sprite.png) 0px 0px;
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
}
.nav a {
  display: block;
  padding: 22px 11px 23px;
  font: bold 16px 'proxima-nova-condensed', Arial, Helvetica;
  text-transform: uppercase;
  color: #2CB6D6;
}
.nav a:hover {
  background: #2CB6D6;
  color: #fff;
  text-decoration: none; 
}

/* FOOTER */
.footer {
  background: #525252;
  padding: 10px 0;
}
.footer .copyright {
  font: normal 15px 'proxima-nova', Arial, Helvetica;
  font-weight: 300;
  float: left;
  padding: 7px;
  color: #fff;
}
.footer .footer-logo {
  overflow: hidden;
  background: url(/images/main-sprite.png) -536px -70px;
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  text-indent: -200px;
  opacity: .3;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.footer .footer-logo:hover {
  opacity: 1;
}
.default-footer .footer-logo:hover {
  opacity: 1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

/* POST */
.post-page .post {
  position: absolute;
  top: 100%;
  display: none;
  padding: 180px 0 0;
  background: #fff;
}
.post {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.post-page .post-active {
  top: 0;
  display: block;
}
.post .post-title {
  color: #525252;
  font: bold 50px 'proxima-nova-condensed', Arial, Helvetica;
}
.post .post-description {
  color: #878787;
  margin: 25px 0 30px;
  font: normal normal 25px 'proxima-nova', Arial, Helvetica;
}
.post h2 {
  color: #525252;
  margin: 55px 0 50px;
  font: bold 30px 'proxima-nova-condensed', Arial, Helvetica; 
}
.post h2:first-child {
  margin-top: 0;
}
.post p {
  font: normal 18px/1.8 'adelle', Arial, Helvetica;
  color: #525252;
  margin: 0 20px 18px;
}
.post ul {
  margin: 0 0 18px;
}
.post li {
  font: normal 18px/1.8 'adelle', Arial, Helvetica;
  color: #525252;
}
.post blockquote {
  margin: 55px 0 50px; 
  text-align: center;
  font: italic 25px 'adelle', Arial, Helvetica;
  font-weight: 100;
  color: #525252;
  padding: 0;
  border: 0;
}
.post blockquote p {
  font: inherit;
  margin: 0;
}
.post .highlight pre {
  border: 0;
  border-radius: 0;
  padding: 18px;
  margin: 55px 0 50px; 
}

.post-tags {
  font-size: 15px;
  margin: 45px 0;
}

.post-header-author {
  color: #999;
  font-size: 15px;
  margin: 30px 0 55px;
}
.post-header-author span {
  display: inline-block;
  padding: 3px 10px;
}
.post-header-author span:first-child { padding-left: 0; }
.post-header-author-thumb {
  width: 35px;
  height: 35px;
  border-radius: 35px;
}
.post-header-date {
  border-left: 1px solid #ccc;
}

.post-author { margin-bottom: 70px; }
.post-author h3 {
  font-size: 20px;
  margin: 0 0 17px;
  color: #999;
}
.post-author p {
  font-family: 'proxima-nova', Arial, Helvetica;
  font-size: 15px;
  margin: 0;
  color: #525252;
}
.post-author-name a {
  color: #525252;
  font-weight: bold;
  border-bottom: 1px solid #999;
}
.post-author-name a:hover {
  text-decoration: none;
}
.post-author-thumb {
  border-radius: 50px;
  height: 70px;
  width: 70px;
  margin-top: 45px;
}
.post-author-description {
  padding-top: 15px;
  border-right: 1px solid #bbb;
  overflow: hidden;
}

.post-share-options {
  margin: 0;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #bbb;
}
.post-share-options li {
  display: inline-block;
  list-style: none;
  margin: 0 7px;
}
.post-share-option {
  display: block;
  background: url(/images/main-sprite.png);
  width: 34px;
  height: 34px;
  margin: 0px 0px 0px 0px;
}
.twitter-share { background-position: 0px -68px }
.facebook-share { background-position: -46px -68px }
.email-share { background-position: -137px -68px }
.google-share { background-position: -91px -68px }

.post-pagination {
  margin-top: 100px;
  position: relative;
  overflow: hidden;
}
.post-nav { 
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
}
.post-next {
  right: 0;
  left: auto;
}
.post-nav a {
  padding: 25px 45px;
  color: #878787;
  background: #F5F5F5;
  display: block;
  overflow: hidden;
}
.post-nav a:hover {
  text-decoration: none;
  color: #525252;
  background: rgba(44, 182, 214, .2);
}
.post-nav h3 {
  font: bold 25px 'proxima-nova-condensed', Arial, Helvetica;
}
.post-nav p {
  font: normal normal 14px/1.4 'proxima-nova', Arial, Helvetica;
  color: #878787;
  margin: 0;
}
.post-prev .post-nav-container { float: right; }
.post-nav-container {
  max-width: 495px;
  width: 100%;
}
.in-post-nav {
  background: #fff;
  text-align: left;
  z-index: 9; 
  width: 100%;
  transition: all 0.2s ease-out;
}
.in-post-nav .post-nav-container {
  float: none;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  transition: all 0.2s ease-out;
}
.in-post-nav .in-post-nav a {
  padding: 0;
  background: #fff;
  color: #525252;
}
.in-post-nav a:hover, .in-post-nav a {
  background: #fff;
  color: #525252;
}

/* POST LIST */
.post-list { margin: 115px 0; }
.post-list .post {
  overflow: hidden;
  margin: 50px 0;
}
.post-list .post-item {
  padding-left: 10px;
}
.post-list .post-title {
  margin-top: 0;
  padding-top: 0;
  font-size: 40px;
  text-transform: none;
}
.post-list .post-title a {
  color: #525252;
}
.post-list .post-header-author {
  margin: 0;
}
.post-list .post-header-author-thumb {
  width: 27px;
  height: 27px;
}
.post-list .post-description {
  font-size: 18px;
  margin: 10px 0;
}
.post-list .post-date {
  width: 50px;
  height: 50px;
  background-color: #2CB6D6;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  text-transform: lowercase;
}
.post-list .post-date span:first-child { 
  font-size: 20px;
  font-weight: bold;
  line-height: .7;
  padding-top: 10px;
  display: block; 
}

/* RELEASE-NOTE */
.release-note {
  background-color: #F5F5F5;
}

.pre-load-container {
  display: none;
}