<aside class="sidebar-docs" id="sidebar-docs">
  <div class="nav-doc">
    <ul class="nav-doc-app">
      <li>
        <a href="/">OMS</a>
      </li>
      <li>
        <a href="/">Logistics</a>
      </li>
      <li>
        <a href="/">RNB</a>
      </li>
      <li>
        <a href="/">License Manager</a>
      </li>
      <li>
        <a href="/">Channel</a>
      </li>
      <li>
        <a href="/">Portal</a>
      </li>
    </ul>
    <ul class="nav-doc-category">
      <li>
        <a href="/">Guia</a>
      </li>
      <li>
        <a href="/">API</a>
      </li>
      <li>
        <a href="/">Design</a>
      </li>
    </ul>
  </div>
</aside>