.main-content {
  position: relative;
  height: 100%; }

.sidebar-docs-container {
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9;
  top: 0;
  background: whitesmoke; }

.fixed-sidebar {
  position: fixed; }

.footer {
  z-index: 10;
  position: relative; }

.article-docs-container {
  margin-left: 200px; }

.docs-banner {
  background: white;
  border-bottom: 1px solid #36b7d7;
  height: 36px; }

.docs-header {
  text-align: center;
  margin: 115px 0 65px; }
  .docs-header .docs-title {
    display: inline-block;
    margin: 0 auto 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dddddd; }
  .docs-header .docs-description {
    font-size: 18px;
    color: #888888; }

.docs-search {
  background: #36b7d7;
  padding: 45px 0; }
  .docs-search input {
    width: 100%;
    padding: 15px;
    background: #36b7d7;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 18px;
    color: white; }
    .docs-search input:focus {
      border: 1px solid white;
      outline: none; }
    .docs-search input::-webkit-input-placeholder {
      color: white; }
    .docs-search input:-moz-placeholder {
      color: white; }
    .docs-search input::-moz-placeholder {
      color: white; }
    .docs-search input:-ms-input-placeholder {
      color: white; }
  .docs-search .btn {
    background: white;
    color: #36b7d7;
    width: 100%;
    padding: 15px; }

.docs-list {
  margin: 60px 0; }
  .docs-list ul {
    margin: 0;
    padding: 0;
    list-style: none; }

.doc-card {
  border: 1px solid #dddddd;
  border-radius: 8px;
  text-align: center;
  padding: 45px 30px;
  margin-bottom: 20px; }
  .doc-card h3 {
    margin: 0 0 25px; }
  .doc-card a {
    display: block;
    padding: 5px 0; }

.nav-doc-header {
  background: #36b7d7;
  color: white;
  position: relative; }

.nav-doc-dropdown {
  float: left;
  width: 50%;
  height: 36px; }
  .nav-doc-dropdown:hover {
    background: #888888; }
    .nav-doc-dropdown:hover ul {
      display: block; }
  .nav-doc-dropdown .fa {
    position: relative;
    top: -4px;
    left: 3px;
    color: #d5f0f7; }
  .nav-doc-dropdown ul {
    position: absolute;
    outline: 1px solid whitesmoke;
    border-bottom: 3px solid #dddddd;
    z-index: 11;
    left: 0;
    width: 100%;
    top: 36px;
    margin: 0;
    padding: 0;
    background: white;
    display: none; }
    .nav-doc-dropdown ul a {
      display: block;
      padding: 5px;
      font-size: 12px;
      text-transform: uppercase; }
      .nav-doc-dropdown ul a:hover {
        background: whitesmoke;
        text-decoration: none; }
  .nav-doc-dropdown .selected-nav {
    padding: 8px 5px;
    display: block;
    font: normal normal 16px "proxima-nova-condensed", Helvetica, Arial;
    text-transform: uppercase;
    cursor: default; }
    .nav-doc-dropdown .selected-nav:last-child {
      border-left: 1px solid white; }

.nav-doc-body > ul {
  margin: 35px 0;
  padding: 0;
  list-style: none; }
.nav-doc-body li {
  font: normal normal 16px "proxima-nova", Helvetica, Arial; }
  .nav-doc-body li ul {
    margin: 0;
    padding-left: 20px; }
  .nav-doc-body li li {
    font-size: 14px;
    list-style: none; }
.nav-doc-body > a, .nav-doc-body span {
  font-weight: bold;
  font-size: 16px; }
.nav-doc-body a {
  color: #525252;
  padding: 4px 0;
  display: block; }

.article-docs-container .doc-title {
  padding: 0 10%; }
.article-docs-container .docs-block {
  padding: 0 10% 65px;
  margin-bottom: 65px;
  border-bottom: 1px solid #dddddd; }
  .article-docs-container .docs-block:last-child {
    border: 0;
    margin: 0;
    padding: 0 10%; }
.article-docs-container h1 {
  margin: 80px 0; }
.article-docs-container p {
  margin: 0 0 20px; }
.article-docs-container table {
  margin: 65px 0; }
.article-docs-container th {
  font: normal bold 16px "proxima-nova", Helvetica, Arial;
  padding: 0 20px 10px 0;
  border-bottom: 1px solid #dddddd; }
.article-docs-container td {
  font-size: 16px;
  padding: 20px;
  vertical-align: top; }
.article-docs-container ul {
  padding-left: 90px; }
.article-docs-container li {
  list-style-position: inside;
  margin: 0 0 20px; }

.api-container {
  margin-left: 60%;
  background: #525252; }
  .api-container .api-block {
    margin-left: -150%;
    padding-bottom: 65px;
    margin-bottom: 65px;
    border-bottom: 1px solid whitesmoke;
    clear: both;
    overflow: hidden; }
    .api-container .api-block:first-child {
      padding-bottom: 0; }
    .api-container .api-block:last-child {
      margin-bottom: 0;
      border: 0; }
  .api-container .api-description {
    box-sizing: border-box;
    padding: 0 5%;
    width: 60%;
    background: white;
    float: left; }
    .api-container .api-description .api-route {
      padding: 15px 20px;
      margin-bottom: 40px;
      font: normal 13px "Lucida Console", Monaco, monospace;
      background: whitesmoke; }
    .api-container .api-description .doc-title {
      padding: 0; }
    .api-container .api-description table {
      width: 100%;
      max-width: 100%; }
    .api-container .api-description td {
      font-size: 14px; }
      .api-container .api-description td em {
        font-size: 14px;
        line-height: 14px;
        color: #888888; }
  .api-container .api-example {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    color: #dddddd;
    word-wrap: break-word;
    padding: 0 5%;
    width: 40%;
    margin-left: 60%; }
    .api-container .api-example .resource-detail {
      background: #888888;
      margin: 0 -12.5% 55px;
      padding: 10px 12.5%; }
    .api-container .api-example .resource-title {
      text-transform: uppercase; }

.doc-api-table {
  width: 100%; }
  .doc-api-table th:first-child, .doc-api-table td:first-child {
    width: 33%; }
  .doc-api-table .doc-api-table-child > td {
    width: 100%;
    padding: 35px 0 0; }
  .doc-api-table .api-table-title {
    display: block; }
  .doc-api-table .api-table-description {
    display: block; }
  .doc-api-table .doc-api-table-child {
    background: white;
    border-left: 0 !important; }
    .doc-api-table .doc-api-table-child > td {
      padding: 0; }
    .doc-api-table .doc-api-table-child .arrow-up {
      position: relative; }
      .doc-api-table .doc-api-table-child .arrow-up:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        content: "";
        display: block;
        z-index: 12;
        top: -10px;
        left: 24%;
        width: 20px;
        height: 20px;
        background: whitesmoke;
        border: 1px solid #dddddd;
        border-right: 0;
        border-bottom: 0; }
  .doc-api-table .doc-api-table {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    position: relative;
    background: whitesmoke;
    width: calc(100% - 19px) !important;
    margin: 0;
    margin-left: 20px; }
    .doc-api-table .doc-api-table tr {
      border-left: 1px solid #dddddd;
      border-right: 1px solid #dddddd; }
