@media (min-width: 768px) {
  .post-list {
    margin: 115px 0; } }
.post-list .post {
  overflow: hidden;
  margin: 50px 0; }
  @media (max-width: 767px) {
    .post-list .post {
      margin: 20px 0; } }
@media (min-width: 768px) {
  .post-list .post-item {
    padding-left: 10px; } }
.post-list .post-title {
  margin-top: 0;
  padding-top: 0;
  font-size: 40px;
  text-transform: none; }
  @media (max-width: 767px) {
    .post-list .post-title {
      font-size: 30px;
      line-height: 30px;
      margin-top: 10px; } }
  .post-list .post-title a {
    color: #525252; }
    .post-list .post-title a:hover {
      color: #f7645e;
      text-decoration: none; }
.post-list .post-header-author {
  margin: 0; }
.post-list .post-header-author-thumb {
  width: 27px;
  height: 27px; }
.post-list .post-description {
  font-size: 18px;
  margin: 10px 0; }
.post-list .post-date {
  background-color: #36b7d7;
  text-align: center;
  color: white;
  font-size: 13px;
  text-transform: lowercase; }
  @media (max-width: 767px) {
    .post-list .post-date {
      border-radius: 5px;
      display: inline-block;
      padding: 5px 10px; } }
  @media (min-width: 768px) {
    .post-list .post-date {
      border-radius: 50px;
      height: 50px;
      width: 50px; }
      .post-list .post-date span:first-child {
        font-size: 20px;
        font-weight: bold;
        line-height: 0.7;
        padding-top: 10px;
        display: block; } }

.release-note {
  background-color: whitesmoke; }
