@import 'mixins'
@import 'variables'

.sidebar-docs-container
  width: 25%
  float: left
  background: $light-grey
.article-docs-container
  width: 75%
  float: left

.docs-banner
  background: #fff
  border-bottom: 1px solid $blue
  height: 36px

.docs-header
  text-align: center
  margin: 115px 0 65px
  .docs-title 
    display: inline-block
    margin: 0 auto 10px
    padding-bottom: 5px
    border-bottom: 1px solid $grey
  .docs-description
    font-size: 18px
    color: $dark-grey
  // .docs-title 
  //   font-size: 70px
  //   font-family: $family-primary
  //   font-weight: normal
  //   text-transform: uppercase
  //   display: inline-block
  //   margin: 0 auto 10px
  //   padding-bottom: 8px
  //   border-bottom: 1px solid $grey
  // .docs-description
  //   font-size: 25px
  //   color: $grey


.docs-search
  background: $blue
  padding: 45px 0

  input 
    width: 100%
    padding: 15px
    background: $blue
    border: 1px solid #fff 
    border-radius: 8px
    font-size: 18px
    color: #fff
    &:focus
      border: 1px solid #fff
      outline: none
    &::-webkit-input-placeholder
      color: #fff
    &:-moz-placeholder
      color: #fff
    &::-moz-placeholder
      color: #fff
    &:-ms-input-placeholder
      color: #fff

  .btn 
    background: #fff
    color: $blue
    width: 100%
    padding: 15px

.docs-list
  margin: 60px 0
  ul
    margin: 0
    padding: 0
    list-style: none

.doc-card
  border: 1px solid $grey
  border-radius: 8px
  text-align: center
  padding: 45px 30px
  margin-bottom: 20px
  h3
    margin: 0 0 25px
  a 
    display: block
    padding: 5px 0

.nav-doc-header
  background: $blue
  color: #fff

.nav-doc-dropdown
  float: left
  width: 50%
  ul
    display: none

.nav-doc-body
  & > ul
    margin: 35px 0
    padding: 0
    list-style: none
  & > a, span
    font-weight: bold
    font-size: 16px
  a 
    color: $black

.article-docs-container
  padding: 0 0 60px

  .doc-title
    padding: 0 10%

  .docs-block
    padding: 0 10% 65px
    margin-bottom: 65px
    border-bottom: 1px solid $grey
    &:last-child
      border: 0
      margin: 0
      padding: 0 10%

  h1 
    margin: 80px 0
  p
    margin: 0 0 20px
  table
    margin: 65px 0
  th
    font: normal bold 16px $family-primary
    padding: 0 20px 10px 0
    text-align: left
    border-bottom: 1px solid $grey
  td
    font-size: 16px
    padding: 35px 20px 0 0
    vertical-align: top

  ul
    padding-left: 90px
  li
    list-style-position: inside
    margin: 0 0 20px