@import "mixins";
@import "variables";

html {
  height: 100%;
  position: relative;
}

.container {
  position: relative;
}

.post-page, .post-page .main-content, .post-page #post-wrapper {
  height: 100%;
  position: relative;
}

body {
  background: white;
  font-family: $family-primary;
}

h1 {
  color: $black;
  font: bold 50px $family-title;
  @media (max-width: 767px) { font: bold 30px $family-title; }
}

h3, .h3 {
  @media (max-width: 767px) { font-size: 20px; }
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.article {
  font: normal 18px / 1.8 $family-reading;
  @media (max-width: 767px) { font: normal 15px / 1.8 $family-reading; }
  color: $black;
  h2 {
    color: $black;
    font: bold 30px $family-title;
    margin: 55px 0 50px;
    @media (max-width: 767px) {
      font: bold 22px $family-title;
      margin: 25px 0 20px;
    }
  }
  h2:first-child {
    margin-top: 0;
  }
  p {
    margin: 0 20px 18px;
    @media (max-width: 767px) {
      margin: 0 0 18px;
    }
  }
  ul {
    margin: 0 0 18px;
  }
  blockquote {
    margin: 55px 0 50px;
    text-align: center;
    font: italic 25px $family-reading;
    font-weight: 100;
    color: $black;
    padding: 0;
    border: 0;
    p {
      font: inherit;
      margin: 0;
    }
  }
  .highlight pre {
    border: 0;
    border-radius: 0;
    padding: 18px;
    margin: 55px 0 50px;
  }
} 