@import 'mixins';
@import 'variables';

.header {
  border-bottom: 1px solid $blue;
  background: white;
  width: 100%;
  @include prefix(transition, top 0.1s ease-out);
  h1 {
    margin: 0;
    padding: 0;
  }
}

.header-button {
  display: none;
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-radius: 50px;
  border: 3.5px solid $blue;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9;
  opacity: 0;
  background: white url(/images/main-sprite.png) -165px 11px;
  @include prefix(transition, opacity 0.1s ease-out);
  &:hover {
    opacity: 1;
    @include prefix(transition, opacity 0.1s ease-out);
  }
}

.header-button-active {
  opacity: 0.7;
  @include prefix(transition, opacity 0.4s ease-out);
}

.logo {
  width: 150px;
  height: 35px;
  margin: 15px 0;
  overflow: hidden;
  text-indent: -999px;
  display: block;
  float: left;
  background: url(/images/main-sprite.png) 0px 0px;
}

.nav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 22px 11px 23px;
    font: bold 16px $family-title;
    text-transform: uppercase;
    color: $blue;
    &:hover, &.active-nav {
      background: $blue;
      color: white;
      text-decoration: none;
    }
  }
}
