@import 'mixins';
@import 'variables';

.header {
  border-bottom: 1px solid $blue;
  background: white;
  width: 100%;
  @include prefix(transition, top 0.1s ease-out);
  h1 {
    margin: 0;
    padding: 0;
  }
}

.header-button {
  display: none;
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-radius: 50px;
  border: 3.5px solid $blue;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9;
  opacity: 0;
  background: white url(/images/main-sprite.png) -165px 11px;
  @include prefix(transition, opacity 0.1s ease-out);
  &:hover {
    opacity: 1;
    @include prefix(transition, opacity 0.1s ease-out);
  }
}

.header-button-active {
  opacity: 0.7;
  @include prefix(transition, opacity 0.4s ease-out);
}

.navbar-brand {
  background: url(/images/main-sprite.png) 0 0 no-repeat;
  display: block;
  float: left;
  height: 35px;
  overflow: hidden;
  text-indent: -999px;
  width: 150px;
  @media (min-width: 768px) {
    margin: 15px 0;
    padding: 0;
  }
  @media (max-width: 767px) {
    background-size: 200px 100px;
    margin-top: 14px;
    width: 100px;
  }
}

.navbar-collapse {
  .nav {
    > li {
      > a {
        color: $blue;
        font: bold 16px $family-title;
        text-transform: uppercase;
      }
      > a:hover,
      &.active > a {
        background: $blue;
        color: white;
        text-decoration: none;
      }
    }
  }
}

.icon-bar {
  background: #36b7d7;
  margin-right: 0;
}

@media (min-width: 768px) {
  .navbar-collapse {
    text-align: center;
    .nav {
      float: none;
      margin: 0;
      padding: 0;
      > li {
        display: inline-block;
        float: none;
        > a {
          display: block;
          padding: 22px 11px 23px;
        }
      }
    }
  }
}

