@import "mixins";
@import "variables";

.home-header {
  position: absolute;
}

.top-banner {
  text-align: center;
  position: relative;
  .ilustration {
    display: none;
  }
  .dani-ilustra {
    max-width: 1150px;
    padding-right: 20px;
    margin: 0 auto;
  }
  .nico-ilustra {
    img {
      margin-top: 35px;
      width: 100%;
    }
  }
  p {      
    max-width: 1170px;
    text-align: right;
    color: #ddd;
    font-size: 10px;
  }
  a {
    font-weight: bold;
    color: #ddd;
  }
  img {
    max-width: 100%;
    display: inline-block;
  }
}

.box-info {
  margin: 85px auto 195px;
  position: relative;

  h2 {
    font-size: 50px;
    margin: 0 0 55px;
    a {
      @include transition(all .3s ease-in-out);
    }
    a:hover {
      text-decoration: none;
      color: darken($blue, 30%);
    }
  }
  p {
    font-size: 22px;
    line-height: 28px;
    color: $dark-grey;
    margin-bottom: 36px;
  }
}

#start-content {
  margin-top: 45px;
}


// 
// TERMINAL
// 

.terminals {
  margin-top: 25px;
}
.terminal-code {
  position: absolute;
  z-index: 2;
  cursor: default;
}
.terminal-focus {
  left: 20px;
  top: 10px;
}
.terminal-blur {
  @include blur(3px);
}
.terminal-empty {
  top: -37px;
  right: -5px;
  width: 408px;
  z-index: 1;

  .terminal-body {
    background: #9D9D9D;
    height: 326px;
  }
}

.terminal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: $light-grey;
  padding: 7px 11px;
}
.terminal-buttons span {
  width: 10px;
  display: inline-block;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
}
.terminal-close-btn {
  background: $red;
}
.terminal-minimize-btn {
  background: $yellow;
}
.terminal-maximize-btn {
  background: $green;
}
.terminal-body {
  background: $black;
  padding: 35px 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

// calling terminal animations
#terminal-focus {
  opacity: 0;
}
.terminal-focus {
  @include animation(terminal-slide 1.4s ease-out forwards);
}
#terminal-empty {
  opacity: 0;
}
.terminal-empty {
  @include animation( (terminal 1.4s ease-out forwards, terminal-blur 1.4s 0.8s forwards) );
}
@-webkit-keyframes terminal-slide {
  from   { 
    opacity: 0;
    left: -20px;
    top: 20px;
    @include scale(1.1);
  }
  to { 
    opacity: 1;
    left: 20px;
    top: 10px;
    @include scale(1);
  }
}
@-moz-keyframes terminal-slide {
  from   { 
    opacity: 0;
    left: -20px;
    top: 20px;
    @include scale(1.1);
  }
  to { 
    opacity: 1;
    left: 20px;
    top: 10px;
    @include scale(1);
  }
}
@keyframes terminal-slide {
  from   { 
    opacity: 0;
    left: -20px;
    top: 20px;
    @include scale(1.1);
  }
  to { 
    opacity: 1;
    left: 20px;
    top: 10px;
    @include scale(1);
  }
}

@-webkit-keyframes terminal {
  from   { 
    opacity: 0;
    right: -30px;
    @include scale(.9);
  }
  to {
    opacity: 1;
    right: -5px;
    @include scale(1);
  }
}
@-moz-keyframes terminal {
  from   { 
    opacity: 0;
    right: -30px;
    @include scale(.9);
  }
  to {
    opacity: 1;
    right: -5px;
    @include scale(1);
  }
}
@keyframes terminal {
  from   { 
    opacity: 0;
    right: -30px;
    @include scale(.9);
  }
  to {
    opacity: 1;
    right: -5px;
    @include scale(1);
  }
}

@-webkit-keyframes terminal-blur {
  from   { 
    @include blur(0);
  }
  to {
    @include blur(3px);
  }
}
@-moz-keyframes terminal-blur {
  from   { 
    @include blur(0);
  }
  to {
    @include blur(3px);
  }
}
@keyframes terminal-blur {
  from   { 
    @include blur(0);
  }
  to { 
    @include blur(3px);
  }
}

@-webkit-keyframes terminal-slide {
  from   { 
    opacity: 0;
    left: -20px;
    top: 20px;
    @include scale(1.1);
  }
  to { 
    opacity: 1;
    left: 20px;
    top: 10px;
    @include scale(1);
  }
}


// 
// QUESTIONS
// 

.ask-box {
  .bubble-talk {
    height: 84px;
    display: table;

    .vertical-align {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .people {
    margin: 0 auto;
    width: 220px;
    padding-top: 70px;
    margin-bottom: 60px;
  }
  .person {
    background: #515151;
    height: 26px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    float: left;
    &:first-child, &:last-child {
      top: -42px;
      left: 70px;
      @include scale(.8);
    }
    &:last-child {
      left: -70px;
    }
    &:before {
      content: "";
      background: #515151;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      position: absolute;
      top: -26px;
      left: 8px;
    }
    &:after {
      content: "?";
      color: $blue;
      font-size: 23px;
      position: absolute;
      top: -24px;
      right: -7px;
    }
    &.middle-one {
      top: 10px;
      margin: 0 10px;
    }
  }
}

.answer-box {
  text-align: center;
  
  h4 {
    margin: 0;
    font-weight: bold;
  }
  p {
    margin: 0;
    font-size: 18px;
  }

  .who {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  img {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);

    display: inline-block;
    width: 60px;
    height: 60px;
    border: 3px solid $blue;
    border-radius: 50%;
    margin: 20px 0 10px;
  }

  .bubble-talk {
    position: relative;
    display: table;
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
    border: 3px solid $blue;
    color: $blue;

    &:before, &:after {
      border-color: $blue transparent transparent transparent;
    }
    &:after {
      border-width: 20px 20px 0 20px;
      border-color: #fff transparent transparent transparent;
      bottom: -15px;
      z-index: 2;
    }
  }
}

.bubble-talk {
  font-size: 20px;
  font-weight: bold;
  color: $blue;
  padding: 10px 20px;
  min-width: 200px;
  text-align: center;
  clear: both;
  border-radius: 4px;
  position: relative;
  margin: 0 auto;
  border: 4px solid #dbdbdb;

  opacity: 0;
  -webkit-transform: scale(.3);
  transform: scale(.3);

  &:before, &:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #dbdbdb transparent transparent transparent;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
  }
  &:after {
    border-width: 20px 20px 0 20px;
    border-color: #fff transparent transparent transparent;
    bottom: -15px;
    z-index: 2;
  }
}

// calling community animations
.come {
  .answer-box img {
    @include animation( (bounceInLeft 1.4s 0.2s forwards) );
  }
  .answer-box .who {
    @include animation( (fadeInUp 0.4s 1.2s forwards) );
  }
  .answer-box .bubble-talk {
    @include animation( (bounceIn 1.4s 1s forwards) );
  }  
  .ask-box .bubble-talk {
    @include animation(bounceIn 0.8s forwards);
  }
}
.go-away {
  .ask-box .bubble-talk,
  .answer-box {
    @include animation( (fadeOutDown 0.4s forwards) );
  }
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}


// 
// BLOG / STATUS
// 

.bottom-box {
  h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
}

.icon-home {
  display: block;
  background: url(/images/sprite-home.png) no-repeat;
}
.icon-blog {
  background-position: -491px 0px;
  width: 114px;
  height: 144px;
  margin: 0 15px 0 22px;
}
.icon-status {
  background-position: -648px 0px;
  width: 150px;
  height: 134px;
  margin: 5px 15px 27px -15px;
}



// RESPONSIVE
// @media (min-width: 992px) and (max-width: 1199px) {
//   .top-banner .container {height: 600px;}
// }
// @media (min-width: 768px) and (max-width: 991px) {
//   .top-banner .container {height: 500px;}
// }
@media (max-width: 991px) {
  .bottom-box {

    .col-md-6:first-child {
      margin-bottom: 195px;
    }
  }
}