@import "mixins";
@import "variables";

.top-banner {
  background: $blue;
  text-align: center;
  position: relative;
}

.banner {
  display: block;
  margin: 0 auto 45px;
}

.know-portal {
  position: absolute;
  display: inline-block;
  font-size: 24px;
  bottom: 55px;
  color: #fff;
  width: 200px;
  margin-left: -100px;
  left: 50%;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.arrow-down {
  display: block;
  margin: 25px auto 0;
  width: 0; 
  height: 0; 
  position: relative;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;  
  border-top: 15px solid #fff;
  -webkit-animation: arrowDown 2s infinite;
  -moz-animation:    arrowDown 2s infinite;
  animation:         arrowDown 2s infinite;
}

@keyframes arrowDown {
  0% {
    top: 0;
  }
  25% {
    top: 10px;
  }
  50% {
    top: 0px;
  }
}
@-webkit-keyframes arrowDown {
  0% {
    top: 0;
  }
  25% {
    top: 10px;
  }
  50% {
    top: 0px;
  }
}
@-moz-keyframes arrowDown {
  0% {
    top: 0;
  }
  25% {
    top: 10px;
  }
  50% {
    top: 0px;
  }
}

.box-info {
  margin: 85px auto 195px;
  position: relative;

  h2 {
    font-size: 50px;
    margin: 0 0 55px;
    a {
      @include transition(all .3s ease-in-out);
    }
    a:hover {
      text-decoration: none;
      color: darken($blue, 30%);
    }
  }
  p {
    font-size: 22px;
    line-height: 28px;
    color: $dark-grey;
    margin-bottom: 36px;
  }
}

.terminal-code {
  position: absolute;
  z-index: 2;
}
.terminal-blur {
  right: -20px;
  top: -37px;
  width: 408px;
  z-index: 1;
  @include blur(2px);

  .terminal-body {
    background: #9D9D9D;
    height: 326px;
  }
}
.terminal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: $light-grey;
  padding: 7px 11px;
}
.terminal-buttons span {
  width: 10px;
  display: inline-block;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
}
.terminal-close-btn {
  background: $red;
}
.terminal-minimize-btn {
  background: $yellow;
}
.terminal-maximize-btn {
  background: $green;
}
.terminal-body {
  background: $black;
  padding: 35px 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-user {
  position: relative;
  top: -93px;
  margin: 0 auto;
  width: 257px;
  height: 458px;
  text-align: center;
  background: url(/images/sprite-home.png) no-repeat left top;

  h4 {
    font-size: 20px;
    font-weight: bold;
    color: $black;
    margin: 10px 0 0;
  }

  p {
    font-size: 15px;
    color: $black;
    margin: 0;
  }

  img {
    margin: 130px auto 20px;
    display: inline-block;
    width: 115px;
    height: 115px;
    border: 3px solid $blue;
    border-radius: 50%;
  }
}

.bottom-box {
  h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
}

.icon-home {
  display: block;
  background: url(/images/sprite-home.png) no-repeat;
}
.icon-guide {
  background-position: -290px 0px;
  width: 142px;
  height: 118px;
  margin: 13px auto 35px;
}
.icon-blog {
  background-position: -491px 0px;
  width: 114px;
  height: 144px;
  margin: 0 15px 0 22px;
}
.icon-status {
  background-position: -648px 0px;
  width: 150px;
  height: 134px;
  margin: 5px 15px 27px -15px;
}

.ask-box {
  .people {
    margin: 0 auto;
    width: 220px;
    padding-top: 80px;
    // @include scale(1.2);
  }
  .person {
    background: #515151;
    height: 26px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    float: left;
    &:first-child, &:last-child {
      top: -42px;
      left: 70px;
      @include scale(.8);
    }
    &:last-child {
      left: -70px;
    }
    &:before {
      content: "";
      background: #515151;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      position: absolute;
      top: -28px;
      left: 8px;
    }
    &:after {
      content: "?";
      color: $blue;
      font-size: 23px;
      position: absolute;
      top: -24px;
      right: -7px;
    }
    &.middle-one {
      top: 10px;
      margin: 0 10px;
    }
  }
}
.answer-box {
  img {
    display: inline-block;
    width: 90px;
    height: 90px;
    border: 5px solid $blue;
    border-radius: 50%;
  }
}
.bubble-talk {
  font-size: 20px;
  font-weight: bold;
  color: $blue;
  background: $light-grey;
  padding: 12px;
  text-align: center;
  clear: both;
  border-radius: 4px;
  position: relative;
  margin: 0 auto;

  &:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: $light-grey transparent transparent transparent;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
