$prefixes: "-webkit-", "-moz-", "-o-", "-ms-", "";

@mixin prefix($property, $value) {
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: #{$value};
  }
}

@mixin clear {
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Applying blur in px
@mixin blur($blur) {
  -webkit-filter: blur($blur);
     -moz-filter: blur($blur);
       -o-filter: blur($blur);
      -ms-filter: blur($blur);
          filter: blur($blur);
}

// Animations
@mixin animation($animation) {
  -webkit-animation: $animation;
       -o-animation: $animation;
          animation: $animation;
}

// Transitions

@mixin transition($transition) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// Transformations
@mixin scale($ratio...) {
  -webkit-transform: scale($ratio);
      -ms-transform: scale($ratio); // IE9 only
       -o-transform: scale($ratio);
          transform: scale($ratio);
}