@import 'mixins';
@import 'variables';

.post-page {
  .header {
    z-index: 9;
    position: fixed;
    top: 0;
  }
  .hide-header {
    top: -66px;
    @include prefix(transition, top 0.1s ease-out);
  }
  .header-button {
    display: block;
  }
  .post {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    padding: 180px 0 0;
    background: white;
    @include prefix(backface-visibility, hidden);
    @include prefix(transform, translate3d(0, 0, 0));
    @include prefix(transform-style, preserve-3d);
    @media (max-width: 767px) {
      padding: 60px 0 0;
    }
  }
  .post-active {
    overflow: auto;
    visibility: visible;
    z-index: 999;
  }
}

.post {
  width: 100%;
  height: 100%;
  overflow: auto;
  .post-title {
    color: $black;
    font: bold 50px $family-title;
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 1.2;
    }
  }
  .post-description {
    color: #888888;
    margin: 25px 0 30px;
    font: normal normal 25px $family-primary;
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 1.2;
    }
  }
}


.post-tags {
  font-size: 15px;
  margin: 45px 0;
}

.post-header-author {
  color: $dark-grey;
  font-size: 15px;
  margin: 30px 0 55px;
  span {
    display: inline-block;
    padding: 3px 10px;
    &:first-child {
      padding-left: 0;
    }
  }
}

.post-header-author-thumb {
  width: 35px;
  height: 35px;
  border-radius: 35px;
}

.post-header-date {
  border-left: 1px solid $grey;
}

.post-author {
  margin-bottom: 70px;
  h3 {
    font-size: 20px;
    margin: 0 0 17px;
    color: $dark-grey;
  }
  p {
    font-family: $family-primary;
    font-size: 15px;
    margin: 0;
    color: $black;
  }
}

.post-author-name {
  a {
    color: $black;
    font-weight: bold;
    border-bottom: 1px solid #999999;
    &:hover {
      text-decoration: none;
    }
  }
}

.post-author-thumb {
  border-radius: 50px;
  height: 70px;
  width: 70px;
  margin-top: 45px;
}

.post-author-description {
  padding-top: 15px;
  border-right: 1px solid $grey;
  overflow: hidden;
}

.post-share-options {
  margin: 0;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid $grey;
  li {
    display: inline-block;
    list-style: none;
    margin: 0 7px;
  }
}

.post-share-option {
  display: block;
  background: url(/images/main-sprite.png);
  width: 34px;
  height: 34px;
  margin: 0px 0px 0px 0px;
}

.twitter-share {
  background-position: 0px -68px;
}

.facebook-share {
  background-position: -46px -68px;
}

.email-share {
  background-position: -137px -68px;
}

.google-share {
  background-position: -91px -68px;
}

.post-pagination {
  @media (min-width: 768px) {
    margin-top: 100px;
  }
  position: relative;
  overflow: hidden;
}

.post-nav {
  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    overflow: hidden;
  }
  a {
    padding: 25px 45px;
    color: #888888;
    background: $light-grey;
    display: block;
    overflow: hidden;
    &:hover {
      text-decoration: none;
      color: $black;
      background: $light-blue;
    }
  }
  h3 {
    font: bold 25px $family-title;
  }
  p {
    font: normal normal 14px / 1.4 $family-primary;
    color: $dark-grey;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .post-wrapper .container { padding: 0; }
  .post-pagination,
  .post-nav a {
    height: auto !important;
  }
  .post-nav a {
    padding: 15px;
  }
}

.post-next {
  right: 0;
  left: auto;
}

.full-post-nav {
  width: 100%;
  text-align: center;
}

.post-nav-container {
  max-width: 495px;
  width: 100%;
  .post-prev & {
    float: right;
  }
  .full-post-nav & {
    max-width: 990px;
    margin: 0 auto;
    width: 100%;
    float: none;
  }
}

.post-ontop {
  z-index: 999;
}

.post-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  @include prefix(perspective, 1200px);
}

.post-moveFromBottom {
  visibility: visible !important;
  overflow: visible !important;
  z-index: 9999 !important;
  @include prefix(animation, moveFromBottom 0.4s ease both);
}

.post-scaleDown {
  overflow: hidden !important;
  z-index: 999 !important;
  @include prefix(animation, scaleDown 0.9s ease both);
}

@-webkit-keyframes scaleDown {
  to {
    opacity: 0;
    -webkit-transform: scale(0.2);
  }
}


@-moz-keyframes scaleDown {
  to {
    opacity: 0;
    -moz-transform: scale(0.2);
  }
}


@keyframes scaleDown {
  to {
    opacity: 0;
    transform: scale(0.2);
  }
}


@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
  }
}


@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(100%);
  }
}


@keyframes moveFromBottom {
  from {
    transform: translateY(100%);
  }
}
