@import 'mixins';
@import 'variables';

.tag-page-title {
  text-align: center;
}
.post-list {
  @media (min-width: 768px) { margin: 115px 0; }
  .post {
    overflow: hidden;
    margin: 50px 0;
    @media (max-width: 767px) {
      margin: 20px 0;
    }
  }
  .post-item {
    @media (min-width: 768px) { padding-left: 10px; }
  }
  .post-title {
    margin-top: 0;
    padding-top: 0;
    font-size: 40px;
    text-transform: none;
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 1.2;
      margin-top: 10px;
    }
    a {
      color: $black;
      &:hover {
        color: $red;
        text-decoration: none;
      }
    }
  }
  .post-header-author {
    margin: 0;
  }
  .post-header-author-thumb {
    width: 27px;
    height: 27px;
  }
  .post-description {
    font-size: 18px;
    margin: 10px 0;
  }
  .post-date {
    @media (max-width: 767px) {
      border-radius: 5px;
      display: inline-block;
      padding: 5px 10px;
    }
    @media (min-width: 768px) {
      border-radius: 50px;
      height: 50px;
      width: 50px;
      span:first-child {
        font-size: 20px;
        font-weight: bold;
        line-height: 0.7;
        padding-top: 10px;
        display: block;
      }
    }
    background-color: $blue;
    text-align: center;
    color: white;
    font-size: 13px;
    text-transform: lowercase;
  }
}

.release-note {
  background-color: $light-grey;
}
