.highlight {
  pre {
    background: #525252 !important;
    font-size: 12px;
  }
  color: #f6f3e8;
  .hll {
    background-color: #ffffcc;
  }
  .c {
    color: #99968b;
    font-style: italic;
  }
  .err, .g {
    color: #f6f3e8;
  }
  .k {
    color: #8ac6f2;
  }
  .l, .n, .o, .x, .p {
    color: #f6f3e8;
  }
  .cm {
    color: #99968b;
    font-style: italic;
  }
  .cp {
    color: #e5786d;
  }
  .c1, .cs {
    color: #99968b;
    font-style: italic;
  }
  .gd, .ge, .gr {
    color: #f6f3e8;
  }
  .gh {
    color: #f6f3e8;
    font-weight: bold;
  }
  .gi {
    color: #f6f3e8;
  }
  .go {
    color: gray;
    background-color: #303030;
  }
  .gp, .gs {
    color: #f6f3e8;
  }
  .gu {
    color: #f6f3e8;
    font-weight: bold;
  }
  .gt {
    color: #f6f3e8;
  }
  .kc, .kd, .kn, .kp, .kr {
    color: #8ac6f2;
  }
  .kt {
    color: #cae682;
  }
  .ld {
    color: #f6f3e8;
  }
  .m {
    color: #e5786d;
  }
  .s {
    color: #95e454;
    font-style: italic;
  }
  .na {
    color: #cae682;
  }
  .nb, .nc {
    color: #f6f3e8;
  }
  .no {
    color: #e5786d;
  }
  .nd {
    color: #f6f3e8;
  }
  .ni {
    color: #e7f6da;
  }
  .ne {
    color: #f6f3e8;
  }
  .nf {
    color: #cae682;
  }
  .nl, .nn, .nx, .py {
    color: #f6f3e8;
  }
  .nt {
    color: #8ac6f2;
  }
  .nv {
    color: #cae682;
  }
  .ow, .w {
    color: #f6f3e8;
  }
  .mf, .mh, .mi, .mo {
    color: #e5786d;
  }
  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
    color: #95e454;
    font-style: italic;
  }
  .bp {
    color: #f6f3e8;
  }
  .vc, .vg, .vi {
    color: #cae682;
  }
  .il {
    color: #e5786d;
  }
}
