// COLORS
$blue: #36b7d7;
$light-blue: #d5f0f7;

$green: #3aa850;
$light-green: #4bd268;

$red: #f7645e;

$black: #525252;
$dark-grey: #888;
$grey: #ddd;
$light-grey: whitesmoke;

// FONTS
$family-title: "proxima-nova-condensed", Helvetica, Arial;
$family-primary: "proxima-nova", Helvetica, Arial;
$family-reading: "adelle", Helvetica, Arial;
