<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}{% if page.title %} - {%endif%}VTEX Lab</title>
  {% javascript modernizr %}

  {% stylesheet main %}
  {% for style in page.styles %}{{ style | stylesheet }}{% endfor %}
</head>
<body{% if page.type == "post" %} class="post-page"{% endif %}>
  <div class="container">
    <div class="header-button" id="header-button"></div>
  </div>

  {% include header.html %}

  <section class="main-content clearfix">
    {{ content }}
  </section>

  {% if page.type != "post" %}
  <footer class="footer default-footer">
    <div class="container">
      <a href="#" id="footer-logo" class="footer-logo">Blog Vtex</a>
    </div>
  </footer>
  {% endif %}
  {% javascript jquery.min %}
  {% for script in page.scripts %}{{ script | javascript }}{% endfor %}
</body>
</html>
