<!doctype html>
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{page.title}}{% if page.title %} - {%endif%}VTEX Lab</title>
  <script type="text/javascript" src="/assets/javascripts/modernizr.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.type == "post" %}
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:site_name" content="VTEX Lab"/>  
  <meta property="og:image" content="{{ page.main-image }}"/>
  
  <meta property="og:type" content="blog"/>
  <meta property="og:description" content="{{ page.description }}"/>
  {% endif %}

  <link rel="stylesheet" href="//io.vtex.com.br/front-libs/font-awesome/4.0.1/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/assets/stylesheets/main.css" />
  {% for style in page.styles %}
  <link rel="stylesheet" href="/assets/stylesheets/{{ style }}.css" />    
  {% endfor %}
</head>
<body{% if page.type == "post" %} class="post-page"{% endif %}>
  <div class="container">
    <div class="header-button" id="header-button"></div>
  </div>

  {% include header.html %}

  <section class="main-content clearfix">
    {{ content }}
  </section>

{% if page.type != "post" %}
{% include footer.html %}
{% endif %}

  <script type="text/javascript" src="/assets/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/bootstrap/collapse.js"></script>
  <script type="text/javascript" src="/assets/javascripts/bootstrap/transition.js"></script>
  {% for script in page.scripts %}
    <script type="text/javascript" src="/assets/javascripts/{{ script }}.js"></script>
  {% endfor %}

  <script>     
    // GA
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43760863-4', 'vtex.com');
    ga('send', 'pageview');
  </script>
</body>
</html>
