<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}{% if page.title %} - {%endif%}VTEX Lab</title>
  <script type="text/javascript" src="/script/modernizr.js"></script>
  <script type="text/javascript" src="//use.typekit.net/ygy2ukv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <link rel="stylesheet" href="/style/bootstrap-custom.css">
  <link rel="stylesheet" href="http://io.vtex.com.br/front-libs/font-awesome/4.0.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style/trac.css">
  <link rel="stylesheet" href="/style/main.css">
</head>
<body class="post-page">
  <div class="container">
    <div class="header-button" id="header-button"></div>
  </div>
  {% include header.html %}

  <section class="main-content">
    {{ content }}
  </section>

  <script src="//code.jquery.com/jquery.min.js"></script> 
  <script src="/script/posts.js"></script>  
</body>
</html>
